* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #c47626;
    color: white;
    text-align: center;
    padding: 20px 0;
}
  
.topnav {
    background-color: #f9f6f2;
    overflow: hidden;
    transition: 100ms;
}

.topnav h1{
    float: left;
    color: #c47626;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
}
  
  /* Style the links inside the navigation bar */
.topnav a{
    float: left;
    color: #770D15;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 100ms;
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #c47626;
    color: #770D15;
} 

.display{
    display:block;
    padding: 5px 20px;
}

.user{
    display: flex;
    background-color: #90A74C;
    color: black;
    border-radius: 25px;
    padding: 5px;
    margin-bottom: 10px;
}

.icon{ 
    font-size: 10rem;
    padding: 5px 10px;
}

.info{
    display: block;
    color: white;
    margin-bottom: auto; 
    margin-top: auto;
        font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.grid{
      display: flex;
}

.order{
    display: inline-block;
    background-color: #90A74C;
    color: black;
    padding: 5px;
    border-radius: 5px;
    width: 25%;
    margin: 5px;
        font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.holdcards{
    display: inline-block;
}

.card{
    display: inline-block;
    width: 48%;
    height: fit-content;
    border-radius: 5px;
    padding: 5px;
    margin: 2px auto auto 2px;
}

.code{
    display: inline-block;
    background-color: #90A74C;
    color: black;
    padding: 5px;
    border-radius: 5px;
    width: 50%;
    margin: 5px;
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.cancelled{
    background-color: rgb(170, 49, 49);
    color: white;
}

.onroute{
    background-color: #b7981d;
    color: white;
}


.inprocess{
    background-color: #F9E076;
    color: white;
}

.delivery{
    background-color: green;
    color: white;
}

.promo{
    position: relative;
    height: 200px;
    padding: 40px 0;
    background-color: purple;
    background-image: url("../Images/fireworks.png");
    color: white;
    font-weight: bold;
}

img{
    max-height: 100px;
    max-width: 200px;
}

.cartItem{
    width: 100%;
    display: flex;
    border-radius: 4px;
    font-size: 1rem;
    padding: 2px 2px;
    color: #000000;
    transition: 0.3s;
}

.insideCart{
    background-color: white;
    padding:5px 5px;
    border-radius: 5px;
    border: 2px solid #585857;
    width: 100%;     
    font-size: 20px;
}

.holdsTwo{
    display: flex; 
    justify-content: space-between; 
    width:100%;
    margin-bottom: auto; 
    margin-top: auto;
}

.details{
    margin-bottom: auto;
    margin-top: auto;
    color: black;
    font-size: 0.6rem;
    font-weight: bold;
}

.btn {
    padding: 0.6rem 1.3rem;
    background-color: transparent;
    border: 2px solid #ffffff;
    font-size: 0.95rem;
    color: #ffffff;
    line-height: 0.5;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
        font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
}
  
.btn:hover {
    background-color: red;
    color: white;
}
