<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%for item in items%}
<h1>name: {{item.dish.name}}</h1>
<h1>price: {% widthratio item.dish.price 1 item.quantity %}</h1>
<h1>quantity: {{item.quantity}}</h1>
<h1>addons: </h1>
<ul>
    {%for extra in item.extras.all%}
    <li>{{extra.name}}</li>
    {%endfor%}
</ul>
{%endfor%}

<!--<form action="theUrl" method="POST">-->

<!--<a href="{%url 'order' order_id%}" onclick="this.parentNode.submit()">Go to that link!</a>-->

</form>
</body>
</html>