{% load static %}
<html lang="en">
  <head>
     <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8da883ee8e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'CSS/orderStyle.css' %}" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Raleway:wght@200&display=swap" rel="stylesheet">
  </head>


  <body>
    <div class="topnav">
      <h1 class="title" >PIZZA TIME</h1>
      <a href="{%url 'menu'%}">Home</a>
      <a  href="{%url 'orders'%}">Orders</a>
      <a class="active" href="{%url 'discounts'%}">Discounts</a>
    </div>
    <div class="container">
        <div class="display">
            <div class="user">
                  <span class="icon">
                    <i class="fas fa-user"></i>
                  </span>
                <div class="info">
                    <div id="user">
                        <h3>User #{{user.id}}</h3>
                        <p>Name: {{user.name}}</p>
                        <p>Total pizzas ordered: {{user.pizza_count}}</p>
                        <p>Pizzas left till next 10% off code: {{user.pizzas_left}}</p>
                    </div>
                </div>
            </div>
            <div class="code">
                <h3>Your Discount Codes:</h3>
                {%for code in codes%}
                <div class="promo">
                    <h4 style="text-align: center; bottom: 50%">{{code.string}}</h4>
                </div>
                {%endfor%}
            </div>
            <div class="code">
                <h3>Community Codes:</h3>
                {%for code in codes%}
                <div class="promo community">
                    <h4 >{{code.string}}</h4>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    <div class="footer">
      <p>References: </p>
      <div>Icons from <a href="https://fontawesome.com/" title="fontawesome">fontawesome.com</a></div>
    </div>
  </body>