<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>{{dish.name}}</h1>
    <ul>
        {%for ingredient in ingredients%}
        <li>{{ingredient.name}}</li>
        {%endfor%}
    </ul>
    <form action="{%url 'dish' dish.id%}" method="post">{% csrf_token %}
      <label for="extra">Choose an add-on:</label>
      <select name="extra" id="extra">
          {%for ingredient in all_ingredients%}
        <option value="{{ingredient.id}}">{{ingredient.name}}</option>
          {%endfor%}
      </select>
      <br><br>
      <input type="submit" value="Submit">
    </form>
</body>
</html>