{% load static %}
<html lang="en">
  <head>
     <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8da883ee8e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'CSS/menuStyle.css' %}" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Raleway:wght@200&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="topnav">
      <h1 class="title">PIZZA TIME</h1>
      <a class="active"href="{%url 'menu'%}">Home</a>
      <a  href="{%url 'orders'%}">Orders</a>
      <a href="{%url 'discounts'%}">Discounts</a>
    </div>
    <div class="container">
            <div class="RestaurantCard final">
                <h3>Your Cart:</h3>
                <table class="insideCart">
                    {%for item in cart.dishes.all%}
                        <tr>
                            <th>
                                <form action="" method="POST">
                                    {% csrf_token %}

    <div class="RestaurantCard final">
            <h3>Your Cart:</h3>
            <table class="insideCart">
                {%for item in order.dishes.all%}
                    <tr>
                        <th>
                            <form action="" method="POST">
                                {% csrf_token %}

                            <div class="cartItem" href="{%url 'order' order_id%}" onclick="this.parentNode.submit()">
                                <span style="padding-right: 20px; margin-bottom: auto; margin-top: auto;">
                                    <i class="fas fa-minus-circle"></i>
                                </span>
                                <div class="holdsTwo">
                                    <p style="margin-bottom: auto; margin-top: auto;">{{item.name}}</p>
                                    <p style="margin-bottom: auto; margin-top: auto;">${{item.price}}</p>
                                </div>
                            </div>
                            </form>
                        </th>
                    </tr>
                {%endfor%}
                {%for item in order.drinks_desserts.all%}
                    <tr>
                        <th>
                            <form action="" method="POST">
                                {% csrf_token %}

                            <div class="cartItem" href="{%url 'order' order_id%}" onclick="this.parentNode.submit()">
                                <span style="padding-right: 20px; margin-bottom: auto; margin-top: auto;">
                                    <i class="fas fa-minus-circle"></i>
                                </span>
                                <div class="holdsTwo">
                                    <p style="margin-bottom: auto; margin-top: auto;">{{item.name}}</p>
                                    <p style="margin-bottom: auto; margin-top: auto;">${{item.price}}</p>
                                </div>
                            </div>
                            </form>
                        </th>
                    </tr>
                {%endfor%}
            </table>
                                        <p>Subtotal: ${{order.price}}</p>
                            {%if order.discounted%}
                            <p>Discount: $-{{order.discount}}</p>
                            {%endif%}
                            <p>VAT: ${{order.vat}}</p>
                            <p>TOTAL: ${{order.total}}</p>
    </div>
    <div class="checkout">
        <form action="{%url 'confirmation' order_id%}" method="post">
          {% csrf_token %}
            <div style="display: flex; justify-content: space-between; width:100%; padding-top: 5px;">
                <div style="width: 70%">

                    <div class="input-container focus" style="width: 20%">
                       <select name="area_code" id="area_code" class="input">
                        {%for area in areas%}
                            <option value="{{area.postal_code}}" style="color: #c47626">{{area.postal_code}}</option>
                        {%endfor%}
                       </select>
                       <label>Area code</label>
                       <span>Area code</span>
                    </div>
                    <div class="input-container"  style="width: 20%">
                       <input name = "address"type="text"  class="input"/>
                       <label>Address</label>
                       <span>Address</span>
                    </div>
                    <div class="input-container"  style="width: 20%">
                       <input name = "phone"type="text"  class="input"/>
                       <label>Phone</label>
                       <span>Phone</span>
                    </div>
                    <div class="input-container"  style="width: 20%">
                       <input name = "code"type="text"  class="input"/>
                       <label>Discount code</label>
                       <span>Discount code</span>
                    </div>
                </div>
                <div style="display: inline-block; margin-top: auto; margin-bottom: auto;">
                   <input type="submit" value="Order" class="btn">
                </div>

                </div>
            </form>
        </div>
    </div>
    <div class="footer">
      <p>References: </p>
      <div>Icons from <a href="https://fontawesome.com/" title="fontawesome">fontawesome.com</a></div>
    </div>
    <script src="{% static 'JS/input.js' %}"></script>
  </body>
</html>