{% load static %}
<html lang="en">
  <head>
     <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8da883ee8e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'CSS/menuStyle.css' %}" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Raleway:wght@200&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="topnav">
      <h1 class="title">PIZZA TIME</h1>
      <a class="active"href="{%url 'menu'%}">Home</a>
      <a  href="{%url 'orders'%}">Orders</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>

    <form action="{%url 'confirmation' order_id%}" method="post">
      {% csrf_token %}
      <label for="code">discount code</label>
      <input id = 'code'type="text" name = "code">
      <label for="area_code">area code</label>
      <select name="area_code" id="area_code">
        {%for area in areas%}
          <option value="{{area.postal_code}}">{{area.postal_code}}</option>
        {%endfor%}
      </select>

      <input type="submit">

    </form>
  </body>
</html>