{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link  href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8da883ee8e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'CSS/menuStyle.css' %}" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Raleway:wght@200&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="topnav">
      <h1 class="title" >PIZZA TIME</h1>
      <a class="active" href="{%url 'menu'%}">Home</a>
      <a  href="{%url 'orders'%}">Orders</a>
      <a href="{%url 'discounts'%}">Discounts</a>
      <a href="">About</a>
    </div>
    <div class="container">
        <div class="display">
          <div class="RestaurantCard cart">
            <h3>Your Cart:</h3>
              {%if not cart.valid%}
            <p style="color:red; ">Order Requires one pizza!</p>
              {%endif%}
            <table class="insideCart">
                {%for item in cart.dishes.all%}
                    <tr>
                        <th>
                            <form action="{%url 'dish_delete' cart.id item.id%}" method="POST">
                                {% csrf_token %}

                            <div class="cartItem" href="{%url 'order' order_id%}" onclick="this.parentNode.submit()">
                                <span style="padding-right: 20px; margin-bottom: auto; margin-top: auto;">
                                    <i class="fas fa-minus-circle"></i>
                                </span>
                                <div class="holdsTwo">
                                    <p style="margin-bottom: auto; margin-top: auto;">{{item.name}}</p>
                                    <p style="margin-bottom: auto; margin-top: auto;">${{item.price}}</p>
                                </div>
                            </div>
                            </form>
                        </th>
                    </tr>
                {%endfor%}
                {%for item in cart.drinks_desserts.all%}
                    <tr>
                        <th>
                            <form action="{%url 'drink_dessert_delete' cart.id item.id%}" method="POST">
                                {% csrf_token %}
                            <div class="cartItem" href="{%url 'drink_dessert_delete' cart.id item.id%}" onclick="this.parentNode.submit()">
                                <span style="padding-right: 20px; margin-bottom: auto; margin-top: auto;">
                                    <i class="fas fa-minus-circle"></i>
                                </span>
                                <div class="holdsTwo">
                                    <p style="margin-bottom: auto; margin-top: auto;">{{item.name}}</p>
                                    <p style="margin-bottom: auto; margin-top: auto;">${{item.price}}</p>
                                </div>
                            </div>
                            </form>
                        </th>
                    </tr>
                {%endfor%}


            </table>
            <div style="display: flex; justify-content: space-between; width:100%; padding-top: 5px;">
                <p style="color:black; padding-left:10px; margin-bottom: auto; margin-top: auto;">Subtotal: ${{cart.price}}</p>
                <a href="{%url 'finalize' order_id%}" class="btn" style="text-decoration:none">order</a>
            </div>
            
          </div>


          <table class="RestaurantCard">
            <tr>
              <th>
                <h5>Martin's Pizzeria</h5>
              </th>
            </tr>
            <tr>
                <th class="info">
                    <p>SHIS QL 22 conjunto 4 casa 3, Brasilia</p>
                </th>
                <th class="info">
                    <p>+55 (61) 99979-6729</p>
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="menu">
                        <tr>
                            <th>
                                <p class="foodType" style="padding-left: 20px;">Pizza</p>
                                <span class="icon">
                                    <i class="fas fa-pizza-slice"></i>
                                </span>
                            </th>
                        </tr>
                            {% for dish in dishes %}
                                    <tr class="option">
                                        <th>




                                            {%if dish.vegetarian%}
                                            <form action="{%url 'dish' dish.id%}" method="POST">
                                                {% csrf_token %}
                                            <div class="optional vegetarian" href="{%url 'order' order_id%}" onclick="this.parentNode.submit()">
                                                <span style="padding-right: 20px; margin-bottom: auto; margin-top: auto;">
                                                    <i class="fas fa-plus-circle"></i>
                                                </span>
                                                <div style="display: flex; justify-content: space-between; width:100%;">
                                                    <p style="margin-bottom: auto; margin-top: auto;">{{dish.name}}</p>
                                                    <i class="fas fa-seedling"></i>
                                                    <p  style="width: 40%;">Ingredients: {{dish.ingredients_str}}</p>
                                                </div>
                                                <p style="padding-right: 10px; padding-left: 30px; margin-bottom: auto; margin-top: auto;">${{dish.price}}</p>
                                            </div>
                                            </form>
                                            {%else%}
                                            <form action="{%url 'dish' dish.id%}" method="POST">
                                                {% csrf_token %}
                                            <div class="optional" href="{%url 'order' order_id%}" onclick="this.parentNode.submit()">
                                                <span style="padding-right: 20px; margin-bottom: auto; margin-top: auto;">
                                                    <i class="fas fa-plus-circle"></i>
                                                </span>
                                                <div style="display: flex; justify-content: space-between; width:100%;">
                                                    <p style="margin-bottom: auto; margin-top: auto;">{{dish.name}}</p>
                                                    <p  style="width: 40%;">Ingredients: {{dish.ingredients_str}}</p>
                                                </div>
                                                <p style="padding-right: 10px; padding-left: 30px; margin-bottom: auto; margin-top: auto;">${{dish.price}}</p>
                                            </div>
                                            </form>
                                            {%endif%}
                                        </th>
                                    </tr>

                            {% endfor %}
                            {% for dish in dishes %}
                                    <tr class="option">
                                        <th>

                                        </th>
                                    </tr>

                            {% endfor %}
                        <tr>
                            <th>
                                <p class="foodType" style="padding-left: 20px;">Drinks</p>
                                <span class="icon">
                                    <i class="fas fa-beer"></i>
                                </span>
                            </th>
                        </tr>
                            {% for drink in drinks %}

                                    <tr class="option">
                                        <th>
                                          <form action="{%url 'drink_dessert' drink.id%}" method="POST">
                                                {% csrf_token %}
                                            <div class="optional" onclick="this.parentNode.submit()">
                                                <span style="padding-right: 20px; margin-bottom: auto; margin-top: auto;">
                                                    <i class="fas fa-plus-circle" ></i>
                                                </span>
                                                <div style="display: flex; justify-content: space-between; width:100%;">
                                                    <p style="margin-bottom: auto; margin-top: auto;">{{drink.name}}</p>


                                                </div>
                                                <p style="padding-right: 10px; padding-left: 30px; margin-bottom: auto; margin-top: auto;">${{drink.price}}</p>
                                            </div>
                                          </form>
                                        </th>
                                    </tr>

                            {% endfor %}
                        <tr>
                            <th>
                                <p class="foodType" style="padding-left: 20px;">Dessert</p>
                                <span class="icon">
                                    <i class="fas fa-cheese"></i>
                                    <i class="fas fa-cookie"></i>
                                    <i class="fas fa-ice-cream"></i>
                                </span>
                            </th>
                        </tr>
                            {% for dessert in desserts %}

                                    <tr class="option">
                                        <th>
                                          <form action="{%url 'drink_dessert' dessert.id%}" method="POST">
                                                {% csrf_token %}
                                            <div class="optional" onclick="this.parentNode.submit()">
                                                <span style="padding-right: 20px; margin-bottom: auto; margin-top: auto;">
                                                    <i class="fas fa-plus-circle" ></i>
                                                </span>
                                                <div style="display: flex; justify-content: space-between; width:100%;">
                                                    <p style="margin-bottom: auto; margin-top: auto;">{{dessert.name}}</p>


                                                </div>
                                                <p style="padding-right: 10px; padding-left: 30px; margin-bottom: auto; margin-top: auto;">${{dessert.price}}</p>
                                            </div>
                                          </form>
                                        </th>
                                    </tr>

                            {% endfor %}
                    </table>
                </td>
            </tr>
          </table>
        </div>
    </div>





    <template id="drink">
        <tr class="option">
            <th>
                <div class="optional">
                    <span style="padding-right: 20px; margin-bottom: auto; margin-top: auto;">
                        <i class="fas fa-plus-circle"></i>
                    </span>
                    <div style="display: flex; justify-content: space-between; width:100%;">
                        <p style="margin-bottom: auto; margin-top: auto;">COCA COLA</p>
                        <p  style="width: 40%; margin-bottom: auto; margin-top: auto;"></p>
                    </div>
                    <p style="padding-right: 10px; padding-left: 30px; margin-bottom: auto; margin-top: auto;">$3.99</p>
                </div>
            </th>
        </tr>
    </template>
    <template id="dessert">
        <tr class="option">
            <th>
                <div class="optional">
                    <span style="padding-right: 20px; margin-bottom: auto; margin-top: auto;">
                        <i class="fas fa-plus-circle"></i>
                    </span>
                    <div style="display: flex; justify-content: space-between; width:100%;">
                        <p style="margin-bottom: auto; margin-top: auto;">Ice Cream</p>
                        <p  style="width: 40%; margin-bottom: auto; margin-top: auto;"></p>
                    </div>
                    <p style="padding-right: 10px; padding-left: 30px; margin-bottom: auto; margin-top: auto;">$55.55</p>
                </div>
            </th>
        </tr>
    </template>
  </body>
</html>