{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'CSS/orderStyle.css' %}" />
    <script src="https://kit.fontawesome.com/8da883ee8e.js" crossorigin="anonymous"></script>
            <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Raleway:wght@200&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="topnav">
      <h1 class="title">PIZZA TIME</h1>
      <a href="{%url 'menu'%}">Home</a>
      <a class="active" href="{%url 'orders'%}">Orders</a>
      <a href="{%url 'discounts'%}">Discounts</a>
      <a href="#about">About</a>
    </div>
    <div class="container">
        <div class="display">
          <div class="user">
              <span class="icon">
                <i class="fas fa-user"></i>
              </span>
            <div class="info">
                <div id="user">
                    <h3>User #{{user.id}}</h3>
                    <p>Name: {{user.name}}</p>
                    <p>Total pizzas ordered: {{user.pizza_count}}</p>
                    <p>Pizzas left till next 10% off: {{user.pizzas_left}}</p>
                </div>
            </div>
          </div>
          <div class="grid">
                <div class="order">
                    <h2>Cancelled:</h2>
                    {%for order in orders_cancelled%}
                    <div id="cancel">
                        <div class="card cancelled">
                            <p>#{{order.id}}</p>
                            <p class="details">Order Placed:</p>
                            <p class="details">{{order.date_created}}</p>
                            <table class="insideCart">
                                {%for dish in order.dishes.all%}
                                <div id="cartItem">
                                    <tr>
                                        <th>
                                            <div class="cartItem">
                                                <div class="holdsTwo">
                                                    <p style="margin-bottom: auto; margin-top: auto;">{{dish.name}}</p>
                                                    <p style="margin-bottom: auto; margin-top: auto;">${{dish.price}}</p>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                </div>
                                {%endfor%}
                                {%for dish in order.drinks_desserts.all%}
                                <div>
                                    <tr>
                                        <th>
                                            <div class="cartItem">
                                                <div class="holdsTwo">
                                                    <p style="margin-bottom: auto; margin-top: auto;">{{dish.name}}</p>
                                                    <p style="margin-bottom: auto; margin-top: auto;">${{dish.price}}</p>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                </div>
                                {%endfor%}
                            </table>
                            <p>Total = ${{order.total}}</p>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                <div class="order">
                    <h2>In preparation:</h2>
                    <div id="inprocess">

                        {%for order in orders_in_progress%}
                        <div class="card inprocess">
                            <p>#{{order.id}}</p>
                            <p class="details">Order Placed:</p>
                            <p class="details">{{order.date_created}}</p>
                            <table class="insideCart">
                                {%for dish in order.dishes.all%}
                                <div >
                                    <tr>
                                        <th>
                                            <div class="cartItem">
                                                <div class="holdsTwo">
                                                    <p style="margin-bottom: auto; margin-top: auto;">{{dish.name}}</p>
                                                    <p style="margin-bottom: auto; margin-top: auto;">${{dish.price}}</p>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                </div>
                                {%endfor%}
                                {%for dish in order.drinks_desserts.all%}
                                <div>
                                    <tr>
                                        <th>
                                            <div class="cartItem">
                                                <div class="holdsTwo">
                                                    <p style="margin-bottom: auto; margin-top: auto;">{{dish.name}}</p>
                                                    <p style="margin-bottom: auto; margin-top: auto;">${{dish.price}}</p>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                </div>
                                {%endfor%}
                            </table>
                                <p style="margin-bottom: auto; margin-top: auto;">Total: ${{order.total}}</p>
                                {%if order.cancellable%}
                                <form action="{%url 'order_cancel' order.id%}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="Cancel" class="btn" />
                                </form>
                                {%endif%}
                        </div>
                        {%endfor%}

                    </div>

                </div>
                <div class="order">
                    <h2>Out for Delivery:</h2>
                    {%for order in orders_delivery%}
                    <div id="delivery">
                        <div class="card delivery">
                            <p>#{{order.id}}</p>
                            <p class="details">Order Delivered:</p>
                            <p class="details">{{order.date_created}}</p>
                            <table class="insideCart">
                                {%for dish in order.dishes.all%}
                                <div >
                                    <tr>
                                        <th>
                                            <div class="cartItem">
                                                <div class="holdsTwo">
                                                    <p style="margin-bottom: auto; margin-top: auto;">{{dish.name}}</p>
                                                    <p style="margin-bottom: auto; margin-top: auto;">${{dish.price}}</p>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                </div>
                                {%endfor%}
                                {%for dish in order.drinks_desserts.all%}
                                <div>
                                    <tr>
                                        <th>
                                            <div class="cartItem">
                                                <div class="holdsTwo">
                                                    <p style="margin-bottom: auto; margin-top: auto;">{{dish.name}}</p>
                                                    <p style="margin-bottom: auto; margin-top: auto;">${{dish.price}}</p>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                </div>
                                {%endfor%}
                            </table>

                            <p class="details" style="text-align: right">{{order.delivery_person.name}} is picking up your order</p>
                            <p>Total = ${{order.total}}</p>
                        </div>
                    </div>
                    {%endfor%}
                </div>

              <div class="order">
                    <h2>Completed:</h2>
                    {%for order in orders_completed%}
                    <div id="completed">
                        <div class="card delivery">
                            <p>#{{order.id}}</p>
                            <p class="details">Order Delivered:</p>
                            <p class="details"> {{order.date_completed}}</p>
                            <table class="insideCart">
                                {%for dish in order.dishes.all%}
                                <div >
                                    <tr>
                                        <th>
                                            <div class="cartItem">
                                                <div class="holdsTwo">
                                                    <p style="margin-bottom: auto; margin-top: auto;">{{dish.name}}</p>
                                                    <p style="margin-bottom: auto; margin-top: auto;">${{dish.price}}</p>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                </div>
                                {%endfor%}
                                {%for dish in order.drinks_desserts.all%}
                                <div>
                                    <tr>
                                        <th>
                                            <div class="cartItem">
                                                <div class="holdsTwo">
                                                    <p style="margin-bottom: auto; margin-top: auto;">{{dish.name}}</p>
                                                    <p style="margin-bottom: auto; margin-top: auto;">${{dish.price}}</p>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                </div>
                                {%endfor%}
                            </table>

                            <p class="details" style="text-align: right">Courier: {{order.delivery_person.name}}</p>
                            <p>Total = ${{order.total}}</p>
                        </div>
                    </div>
                    {%endfor%}
                </div>
          </div>
        </div>
    </div>

  </body>
<div class="footer">
      <p>References: </p>
      <div>Icons from <a href="https://fontawesome.com/" title="fontawesome">fontawesome.com</a></div>
    </div>
</html>